<!DOCTYPE HTML>
<html>
	<%- include('./partials/head') %>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('./partials/navbar') %>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Bienvenido a Credisol</h2>
								<p>Una alternativa solidaria</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									<li><a href="#" class="button large icon solid fa-arrow-circle-right">Servicios</a></li>
									<li><a href="#" class="button alt large icon solid fa-question-circle">Emprendimientos de asociados</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="/nosotros" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Desde 1999</h2>
												<p>Red de trabajadores de la economia social</p>
											</header>
											<p>Credisol se conformó en 1999 como una alternativa solidaria para los trabajadores y las trabajadoras que en ese momento no encontraban respuestas ni soluciones en el sistema bancario formal.</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="/contacto" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>!Sumate!</h2>
												<p>Sumate a nuestra red asociativa</p>
											</header>
											<p>Credisol cuenta actualmente con más de 400 asociados y asociadas que realizan su aporte de capital mensual a los fines de conformar el capital disponible para créditos.</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="/servicios" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Conocé nuestros servicios</h2>
												<p>Aprovecha los beneficios de ser parte de Credisol</p>
											</header>
											<p>Contamos con líneas de créditos, administración de fondos de nuestros asociados, red de intercambio y promoción y mucho más.</p>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<div id="sidebar">
										<section class="widget thumbnails">
											<h3>Interesting stuff</h3>
											<div class="grid">
												<div class="row gtr-50">
													<div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a></div>
												</div>
											</div>
											<a href="#" class="button icon fa-file-alt">More</a>
										</section>
									</div>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<div id="content">
										<section class="last">
											<h2>Entonces, ¿De que se trata todo esto?</h2>
											<p>La <strong>economía solidaria</strong> es una búsqueda teórica y práctica de formas alternativas de hacer economía, basadas en la solidaridad y el trabajo.El principio o fundamento de la economía de solidaridad es que la
												introducción de niveles crecientes y cualitativamente superiores de solidaridad en las actividades, organizaciones e instituciones económicas, tanto a
												nivel de las empresas como en los mercados y en las políticas públicas, incrementa la eficiencia micro y macroeconómica, además de generar un conjunto de beneficios sociales y culturales que favorecen a toda la sociedad.</p>
											<p>Un proceso real en el que convergen variados y múltiples sectores y grupos.</p>
											<a href="#" class="button icon solid fa-arrow-circle-right">Leer más</a>
										</section>
									</div>

							</div>
						</div>
					</div>
				</div>

				<%- include('./partials/footer') %>	

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>