<!DOCTYPE HTML>
<html>
	<%- include('./partials/head') %>
	<body class="is-preload left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('./partials/navbar') %>
			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Subheading</h3>
											<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
											Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
											Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
											consequat etiam.</p>
											<footer>
												<a href="#" class="button icon solid fa-info-circle">Find out more</a>
											</footer>
										</section>

										<section>
											<h3>Subheading</h3>
											<ul class="style2">
												<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
												<li><a href="#">Ornare in hendrerit in lectus</a></li>
												<li><a href="#">Semper mod quis eget mi dolore</a></li>
												<li><a href="#">Quam turpis feugiat sit dolor</a></li>
												<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
												<li><a href="#">Semper mod quisturpis nisi</a></li>
											</ul>
										</section>

								</div>
							</div>
							<div class="col-8 col-12-medium imp-medium">
								<div id="content">

									<!-- Content -->
										<article>

											<h2>¿Quienes somos?</h2>

											<p>Somos una Cooperativa que tiene por objetivo facilitar el acceso al crédito a sus asociados y asociadas potenciando posibilidades de desarrollo, consumo y trabajo.</p>
											<p>Credisol se conformó en 1999 como una alternativa solidaria para los trabajadores y las trabajadoras que en ese momento no encontraban respuestas ni soluciones en el sistema bancario formal.</p>

											<h3>Basada en principios cooperativos</h3>
											<p>Formada en 1999 por trabajadores que por el nivel de ingresos, la informalidad de contratación no contaban con respuestas de parte del sistema bancario, Credisol se conformó como una alternativa solidaria.
												Como cooperativa de crédito nos guían dos principios básicos:</p>

											<p> <strong>Democracia:</strong> La cooperativa está en manos de sus asociados, que se organizan en torno a un consejo de administración con recambios periódicos de acuerdo a lo establecido por la Ley de Cooperativas. Los miembros del consejo son trabajadores asociados que deben realizar el trabajo de mediar entre los intereses personales que tenemos como asociados y la necesidad de gobierno, regulación y sustentabilidad de la cooperativa como entidad, asegurando su permanencia en el tiempo y el cumplimiento de sus obligaciones legales y económicas</p>

											<p> <strong>Solidaridad:</strong> Los fondos de la cooperativa, se conforman con el aporte de cuota social que cada asociado realiza mensualmente. Es por esto, que dicha cuota no debe verse como un COSTO sino como una inversión al capital social común que permite el acceso a crédito de todos los asociados. El esquema cooperativo permite que pequeños esfuerzos personales, redunden en beneficios mutuos significativos.</p>
											<p> <strong>Precio Justo</strong> Buscamos y trabajamos para mantener el justo equilibrio entre tasas convenientes para los asociados, y administración adecuada de los fondos (no perder capacidad de préstamo), en el contexto de una economía variable e inestable como la Argentina.</p>

										</article>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Random Stuff</h3>
										<ul class="style2">
											<li><a href="#">Etiam feugiat condimentum</a></li>
											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
											<li><a href="#">Sed porttitor cras in erat nec</a></li>
											<li><a href="#">Felis varius pellentesque potenti</a></li>
											<li><a href="#">Nullam scelerisque blandit leo</a></li>
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Random Stuff</h3>
										<ul class="style2">
											<li><a href="#">Etiam feugiat condimentum</a></li>
											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
											<li><a href="#">Sed porttitor cras in erat nec</a></li>
											<li><a href="#">Felis varius pellentesque potenti</a></li>
											<li><a href="#">Nullam scelerisque blandit leo</a></li>
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Random Stuff</h3>
										<ul class="style2">
											<li><a href="#">Etiam feugiat condimentum</a></li>
											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
											<li><a href="#">Sed porttitor cras in erat nec</a></li>
											<li><a href="#">Felis varius pellentesque potenti</a></li>
											<li><a href="#">Nullam scelerisque blandit leo</a></li>
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Contact -->
									<section class="widget contact">
										<h3>Contact Us</h3>
										<ul>
											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
										</ul>
										<p>1234 Fictional Road<br />
										Nashville, TN 00000<br />
										(800) 555-0000</p>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>