<!-- views/partials/footer.ejs-->
<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                    <section class="widget links">
                        <h3>Organización</h3>
                        <ul class="style2">
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Economía Social</a></li>
                            <li><a href="#">Estatuto</a></li>
                            <li><a href="#">Asociados</a></li>
                        </ul>
                    </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                    <section class="widget links">
                        <h3>vínculos</h3>
                        <ul class="style2">
                            <li><a href="https://www.essapp.coop/">Essap: Conectando Solidaridad</a></li>
                            <li><a href="#">Asociados</a></li>
                            <li><a href="#">Seguridad</a></li>
                            <li><a href="#">Transparencia</a></li>
                        </ul>
                    </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">

                <!-- Contact -->
                    <section class="widget contact last">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
                        </ul>
                        <p>Rosario De Santa Fe 236<br />
                        Córdoba, X5000ACF<br />
                        (0351) 218-7666</p>
                    </section>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; CREDISOL COOP LTDA. Todos los derechosreservados</li><li>Diseñado por BITMODE. Basado en <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

</div>