<!-- views/partial/navbar.ejs-->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
            <div id="logo">
                <h1><a href="/">CREDISOL</a></h1>
                <span>Cooperativa</span>
            </div>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/nosotros">Quienes Somos</a></li>
                    <li><a href="/contacto">¿Cómo Sumarte?</a></li>
                    <li><a href="/servicios">Servicios</a></li>
                    <li><a href="/asociados">Asociados</a></li>
                </ul>
            </nav>

    </header>
</div>